nycu-me-https:
  command: 'http-check'
  parameters:
    url: "https://nycu.me/"
    args: "-k"
    expected: 200
  interval: 10
  notify:
    - admin
    - support

nycu-me-https-api:
  command: 'http-check'
  parameters:
    url: "https://nycu.me/api/whoami"
    args: "-k"
    expected: 200
  interval: 10
  notify:
    - support
